{% assign sidebar = site.data.data.intro %}
<div class="sidebar-wrapper">

  <div class="profile-container">

    {% if sidebar.avatar.display %}
    <img class="avatar" src="{{ site.baseurl }}/assets/images/profile.png" alt="profile picture" />
    {% endif %}

    {% if sidebar.name %}
    <h1 class="name">{{ sidebar.name }}</h1>
    {% endif %}

    {% if sidebar.title %}
    <h3 class="tagline">{{ sidebar.title }}</h3>
    {% endif %}

  </div><!--//profile-container-->

  {% include contact.html %}
  {% include education.html %}
  {% include language.html %}
  {% include interests.html %}

</div><!--//sidebar-wrapper-->
